<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Jason Chan, Fullstack Web Developer</h1>
  <!-- TODO add the appropriate links when get internet connectivity -->
    <p>Link to my <a href="/" title="Github link">Github</a></p>
    <p>Link to my <a href="/" title="LinkedIn link">LinkedIn</a></p>
    <h2>Technical Skills</h2>
    <ul>
      <li>Ruby on Rails, including version 5 + ActionCable</li>
      <li>JS + JQuery</li>
      <li>HTML5/CSS, including Sass</li>
      <li>Git version control - Github</li>
      <li>Postgresql, Sqlite, MongoDB, Redis</li>
      <li></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

<!-- Workaround to highlight active tab -->
<script>
$(".tab").removeClass("active")
$(".about").addClass("active")
</script>