<div id="main-container" class="container">
  <div class="row">
  This is the home page
  </div>
  <br>
  <!-- Carousel of projects -->
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="/projects/1" title="Battlechat"><img src="/images/Battlechat.png" alt="Project 4 - Battlechat" width="460" height="345" class="carry"/></a>
      </div>

      <div class="item">
        <a href="/projects/2" title="CAP"><img src="/images/CAP.png" alt="Project 3 - CAP" width="460" height="345" class="carry"/></a>
      </div>

      <div class="item">
        <a href="/projects/3" title="BlueSkiesForum"><img src="/images/BlueSkiesForum.png" alt="Project 2 - Blue Skies Forum" width="460" height="345" class="carry"/></a>
      </div>

      <div class="item">
        <a href="/projects/4" title="MissileCommand"><img src="/images/MissileCommand.png" alt="Project 1 - Missile Command" width="460" height="345" class="carry"/></a>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>

</div>