<div id="main-container" class="container">
  <div class="row">
    <h2 style="text-align: center;">General Assembly Web Development Immersive Projects</h2>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6"><a href="/projects/1" title="Battlechat"><img src="/images/Battlechat.png" alt="Project 4 - Battlechat" width="440" height="325" class="carry"/></a> <br><br></div>
    <div class="col-md-6"><a href="/projects/2" title="CAP"><img src="/images/CAP.png" alt="Project 3 - CAP" width="440" height="325" class="carry"/></a> <br><br></div>
  </div>
  <div class="row">
    <div class="col-md-6"><a href="/projects/3" title="BlueSkiesForum"><img src="/images/BlueSkiesForum.png" alt="Project 2 - Blue Skies Forum" width="440" height="325" class="carry"/></a> <br><br></div>
    <div class="col-md-6"><a href="/projects/4" title="MissileCommand"><img src="/images/MissileCommand.png" alt="Project 1 - Missile Command" width="440" height="325"class="carry"/></a> <br><br></div>
  </div>

<!-- TODO later, add more projects -->
<!--   <div class="row">
    <h2 style="text-align: center;">Other Projects</h2>
  </div> -->
  
<!-- Workaround to highlight active tab -->
<script>
$(".tab").removeClass("active")
$(".projects").addClass("active")
</script>