<h1>Testing Api call</h1>
<h1>Welcome! it takes <%= @time %> to <%= @ride %> from <%= @origin %> to <%= @destination %>!</h1>
<!-- button removed, would have been used as part of form submit -->
<!-- <button>CLICK</button> -->